// footer
footer {
    background-color: $title-c;
    padding: 60px 0 30px 0;
    .container {
        .useful-links {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            gap: 30px;
            flex-wrap: wrap;
            margin-bottom: 40px;
            .with-logo {
                .logo {
                    margin-bottom: 30px;
                    a {
                        gap: 6px;
                        span {
                            font-size: 30px;
                            font-weight: 600;
                            color: $main-c;
                            text-transform: uppercase;
                        }
                    }
                }
                p {
                    max-width: 300px;
                    color: $white;
                    margin-bottom: 25px;
                }
                .social {
                    gap: 15px;
                    a {
                        width: 40px;
                        height: 40px;
                        border-radius: 3px;
                        background-color: $text-c;
                        i {
                            font-size: 16px;
                            color: $white;
                        }
                        &:hover {
                            background-color: $main-c;
                        }
                    }
                }
            }
            .links {
                h3 {
                    color: $white;
                    margin-bottom: 30px;
                }
                ul {
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    min-width: 200px;
                    li {
                        a {
                            display: block;
                            font-size: 16px;
                            color: $white;
                            text-transform: capitalize;
                            font-weight: 400;
                            &:hover {
                                color: $main-c;
                                padding-left: 10px;
                            }
                        }
                    }
                }
                img {
                    display: block;
                    max-width: 300px;
                    border-radius: 6px;
                }
            }
        }
        .copy {
            margin-top: 40px;
            border-top: 1px solid $text-c;
            padding-top: 30px;
            text-align: center;
            font-size: 16px;
            font-weight: 400;
            color: $text-c;
            text-transform: capitalize;
            a {
                text-transform: lowercase;
                font-weight: 500;
                font-size: 18px;
                margin-left: 6px;
                color: $text-c;
                &:hover {
                    color: $main-c;
                }
            }
        }
        .go-up {
            width: 45px;
            height: 45px;
            border-radius: 3px;
            background-color: $main-c;
            position: fixed;
            bottom: 20px;
            right: 20px;
            opacity: 0;
            i {
                color: $white;
            }
            &:hover {
                color: $hover-c;
            }
        }
    }
}