// colors 
$white: #fff;
$main-c: #00ADB5;
$icon-bg: #26B9C0;
$hover-c: #00adb5b3;
$bullet-bg: #B0E6E8;
$title-c: #393E46;
$footer-bg: #383D47;//linl-c
$text-c: #8c96a7;// border, copy-right footer-icon
$border-c: #E5E5E5;
$shadow-c: #F5F5F5;

// family
$family: 'Open Sans', sans-serif;